* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full_screen {
}
.header {
  padding: 10px;
}
.logo {
  height: 50px;
  background-color: rgb(128, 95, 95);
}
.nav {
  margin-top: 10px;
  height: 40px;
  background-color: rgb(96, 58, 131);
}
.banner {
  height: 70px;
  background-color: rgb(185, 97, 185);
  margin-top: 10px;
}
.contain_box::after {
  content: "";
  display: block;
  clear: both;
}
.contain_box {
}
.side_bar {
  width: 15%;
  height: 330px;
  background-color: rgb(128, 42, 42);
  float: left;
}
.body_box {
  width: 84%;
  height: 330px;
  background-color: rgb(184, 156, 86);
  float: right;
}
.foter {
  background-color: black;
  height: 50px;
  padding: 10px;
  margin-top: 10px;
}
